.app-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 8px;
  color: $white;
  font-family: $font-family-primary;
  font-weight: 400;
  font-size: rem(16px);
  line-height: rem(26px);
}

.app-button--primary {
  min-height: 48px;
  background-color: $color-primary;
  border-color: $color-primary;
  padding: 4px 16px;

  &:hover:not(:disabled, [disabled]),
  &:focus-visible:not(:disabled, [disabled]) {
    background-color: $color-primary-hover;
    border-color: $color-primary-hover;
  }

  &:active:not(:disabled, [disabled]) {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &:disabled,
  &[disabled] {
    background-color: $gray;
    border-color: $gray;
  }
}

.app-button--outline {
  min-height: 48px;
  background-color: transparent;
  color: $text-color-primary;
  border-color: $color-primary;
  padding: 4px 16px;

  &:hover:not(:disabled, [disabled]),
  &:focus-visible:not(:disabled, [disabled]) {
    background-color: transparent;
    border-color: $color-primary-hover;
  }

  &:active:not(:disabled, [disabled]) {
    background-color: transparent;
    border-color: $color-primary;
  }

  &:disabled,
  &[disabled] {
    background-color: transparent;
    color: $gray;
    border-color: $gray;
  }
}

// .app-button--secondary {
//   font-weight: 500;
//   background-color: $orange-light;
//   border-color: $orange-light;
//   padding: 4px 16px;

//   &:hover:not(:disabled, [disabled]),
//   &:focus-visible:not(:disabled, [disabled]) {
//     background-color: $orange-hover;
//     border-color: $orange-hover;
//   }

//   &:active:not(:disabled, [disabled]) {
//     background-color: $orange-light;
//     border-color: $orange-light;
//   }

//   &:disabled,
//   &[disabled] {
//     background-color: $gray;
//     border-color: $gray;
//   }
// }
