.hero__running-line {
  margin: 0;
  padding: 28px 16px;
  background-color: transparent;
  color: $color-primary;
  font-weight: 400;
  text-transform: uppercase;
  font-size: rem(64px);
  line-height: 1.5;
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: hidden;

  @media (min-width:$width-tablet) {
    font-size: rem(80px);
  }

  &[data-reverse="true"]{
    .hero__running-line__copy {
      &::before {
        transform: rotate(180deg);
      }
    }
  }
}

.hero__running-line__copy {
  &::before {
    content: "→";
    display: inline-block;
    margin-inline: 24px;
    transform-origin: center;
    transition: transform $transition-base;
  }
}
