.modal {
}

.modal-menu {
  &.modal-menu{
    z-index: 250;
  }

  .modal__wrapper {
  }

  .modal__overlay {
  }

  .modal__content {
  }

  .modal__body {
    background-color: $white;
    padding: 16px;
  }

  .app-modal__button-close {
  }

  .title {
  }

  .text {
  }
}
