{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended"
  ],
  "ignorePatterns": ["src/scripts/utils/**"],
  "rules": {
    "max-len": [
      "warn",
      120
    ],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ],
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "no-underscore-dangle": "off"
  }
}
