<div class="modal modal-menu" data-modal="modal-menu">
  <div class="modal__wrapper">
    <div class="modal__overlay" data-close-modal></div>
    <div class="modal__content">
      <div class="modal__body">
        <h3 class="title">Thank you!</h3>
        <p class="text">Your review has been sent successfully</p>
      </div>
    </div>
  </div>
</div>
