.welcome-page {
  margin-bottom: 50px;

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 20px;
    font-size: rem(20px);
  }

  ul {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: disc;
    padding-left: 15px;
  }

  a {
    text-decoration: underline;
  }
}