// Foundation
@import "./foundation/libs";
@import "./foundation/fonts";
@import "./foundation/variables";

// mixins
@import "./mixins/mixins";

// Foundation
@import "./foundation/base";
@import "./foundation/functions";

// Components
@import "./components/app-button";
@import "./components/app-modal";
@import "./components/container";
@import "./components/input-field";
@import "./components/modal";
@import "./components/main";
@import "./components/pagination";
@import "./components/slider";
@import "./components/cursor";

// App
@import "./app/menu-button";
@import "./app/header";
@import "./app/footer";

// Pages
@import "./pages/welcome-page";

// blocks
@import "./blocks/modal-feedback-form";
@import "./blocks/modal-menu";

// helpers внизу - чтобы работал каскад
@import "./foundation/helpers";

.cb-btn_menu {
  transition: all $transition-base;
  will-change: transform;
  position: relative;
  z-index: 251;

  &:hover{
    color:$white;
  }


  &::after{
    content: "";
    position: absolute;
    z-index: 1;
    margin: 0;
    inset: -20px;
    left: -50px;
    display: block;
    background-color: transparent;

    // background-color: red;
  }
}
