<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top-row">
      {% if currentPageName === 'home' %}
        <div class="footer__logo-link">
        </div>
      {% else %}
        <a href="/" class="footer__logo-link">
        </a>
      {% endif %}
    </div>
  </div>
</footer>
