{% set currentPageName = currentPageName | default('not-home') %}
{% set menu = [
  {
    name: "Home",
    href: "/"
  }, {
    name: "UI",
    href: "ui"
  }
] %}

{% set socialListParentClass = 'header-menu__social-list' %}

<header class="header" id="header">

  <div class="header__container container">
    <nav class="header__menu header-menu">
      {% if currentPageName === 'Home' %}
        <div class="header-menu__logo-wrap" data-cursor-text="Hello!">
          Logo hover me
        </div>
      {% else %}
        <a href="/" class="header-menu__logo-wrap" data-cursor-text="Hello!">
          Logo hover me
        </a>
      {% endif %}
      {% include "./menu-button.njk" %}

      <div class="header-menu__mobile-wrap">
        <ul class="header-menu__list">
          {% for item in menu %}
            {% if item.name === currentPageName %}
              <li class="header-menu__item">
                <a class="header-menu__link active" data-cursor="-exclusion">
                  {{item.name}}
                </a>
              </li>
            {% else %}
              <li class="header-menu__item">
                <a href="{{ item.href }}" class="header-menu__link">
                  {{item.name}}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
