<button
  type="button"
  class="header-menu__button menu-button"
  aria-label="open/close menu"
>
  <svg
    class="menu-button__icon"
    width="40"
    height="40"
    viewBox="0 0 40 40"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect x="1" y="6" width="38" height="4" rx="2" fill="currentColor" />
    <rect x="1" y="18" width="38" height="4" rx="2" fill="currentColor" />
    <rect x="1" y="30" width="38" height="4" rx="2" fill="currentColor" />
    <rect
      class="menu-button__icon-path-close"
      width="37.7671"
      height="3.97549"
      rx="1.98774"
      transform="matrix(0.69533 0.71869 -0.69533 0.71869 8.73438 5.00024)"
      fill="currentColor"
    />
    <rect
      class="menu-button__icon-path-close"
      width="37.7671"
      height="3.97549"
      rx="1.98774"
      transform="matrix(-0.69533 0.71869 -0.69533 -0.71869 34.0234 7.85742)"
      fill="currentColor"
    />
  </svg>
</button>
