{% extends "./layouts/main.njk" %}
{% block main %}
  <div class="container">
    <div class="welcome-page">
      <div class="welcome-page__row">
        <h1 class="my-element">Welcome friend!</h1>
      </div>

      <img src="/android-chrome-192x192.png" width="192" height="192" class="my-image" alt="">
      <div class="my-element2">my-element2 hover me</div>
      {% include "blocks/ImageList.njk" %}
    </div>
  </div>
{% endblock %}
