<ul class="image-list">
  {% for item in range(0, 8) %}
    <li>
      <a href="#">
        <div class="image-list__media">
          <div class="image-list__img-wrap">
            <picture>
              <img src="/src/assets/img/111.jpg" width="536" height="354" alt="some img"/>
            </picture>
          </div>
        </div>
        <p>
          <b>Pago Punto</b>
          - the best for</p>
      </a>
    </li>
  {% endfor %}
</ul>
