.header {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 251;

  // position: relative;
  // z-index: $z-index-header;
}

.header-menu {
  padding-block: 8px;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: auto auto;
  grid-template-areas: "logo menu";
  justify-items: center;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    padding-block: 16px;
  }
}

.header-menu__logo-wrap {
  grid-area: logo;

  img {
    @media (min-width: $width-tablet) {
      width: 160px;
      height: 70px;
    }
  }
}

.header-menu__button {

}
