@mixin scroll-bar {
  &::-webkit-scrollbar {
    height: 8px;
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $white;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-primary;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    background: $color-primary;
  }
}
